@font-face { 
    font-family: futura;
    src: url('fonts/futura- medium-bt.ttf') format('truetype');
  }

h1 {
    color: #44438c;
    text-align: center;
    position: 500, 500;
}

h2 {
    color: #595baf;
    text-align: center;
    position: 500, 550;
}

body {
    background-color: #0c0d18;
}

body {
    text-align: center;
}

body {
    font-family: futura;
}

body {
    line-height: 5mm;
}

body {
    position: relative;
}

.btn {
    font-family: futura;
    border: none;
    outline: none;
    height: 40px;
    width: 200px;
    color: #595baf;
    background-color: #1c2242;
    font-size: 15px;
    border-radius: 20px;
    transition: 0.3s ease;
}

.btn:hover {
    cursor: pointer;
    background: #2a315a;
    box-shadow: 0 0 5px #2a315a,
                0 0 20px #2a315a,
                0 0 60px #2a315a,
                0 0 150px #2a315a;
}

.btn {
    font-family: futura;
    border: none;
    outline: none;
    position: 500, 500;
    height: 40px;
    width: 200px;
    color: #595baf;
    background-color: #1c2242;
    font-size: 15px;
    border-radius: 20px;
    transition: 0.3s ease;
}

.btn:hover {
    cursor: pointer;
    background: #2a315a;
    box-shadow: 0 0 5px #2a315a,
                0 0 20px #2a315a,
                0 0 60px #2a315a,
                0 0 150px #2a315a;
}

.btn {
    font-family: futura;
    border: none;
    outline: none;
    position: 1000, 1000;
    height: 40px;
    width: 200px;
    color: #595baf;
    background-color: #1c2242;
    font-size: 15px;
    border-radius: 20px;
    transition: 0.3s ease;
}

.btn:hover {
    cursor: pointer;
    background: #2a315a;
    box-shadow: 0 0 5px #2a315a,
                0 0 20px #2a315a,
                0 0 60px #2a315a,
                0 0 150px #2a315a;
}